.home{
	background: color($colors, primary);
	color: color($colors, light);
	margin-top:30px;
}

.toolbar-title{
	text-align:center;
}

.tabs-md .tab-button-icon{
	color:#ccc;
}

.temp{
	font-size: 90px;
	font-weight: normal;
	text-align: center;
}

.location, .icon, .desc{
	text-align: center;
	font-size: 30px;
}